.Input {
	.content {
		margin-top: 10px;
		.cards {
			display: flex;
			justify-content: center;

			.card {
				display: flex;
				flex-direction: column;
				gap: 37px;
				input {
					width: 230px;
				}
			}
			.card2 {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-right: 100px;
			}
		}
		.contentTop {
			margin-top: 2rem;
		}
	}
}
